<h1>hi</h1>

<p>you typed the following into the form:</p>

<ul>
  <% @sign %>
    <li><%= sign %></li>
  <% end %>
</ul>

<ul>
  <% @creature %>
    <li><%= creature %></li>
  <% end %>
</ul>

  <ul>
  <% @fortune %>
    <li><%= horoscope %></li>
  <% end %>
</ul>

